<main>
  <h2>Category heading</h2>
  <h3 class="font-italic">Category Subheading</h3>
  <ul class="list-unstyled">
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
  </ul>
  <hr />
  <h3 class="font-italic">Category Subheading</h3>
  <ul class="list-unstyled">
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
  </ul>
  <hr />
  <h3 class="font-italic" id="section4">Category Subheading</h3>
  <ul class="list-unstyled">
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
  </ul>
  <hr />
  <h3 class="font-italic">Category Subheading</h3>
  <ul class="list-unstyled">
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
    <li><a href="#">Article Heading</a></li>
  </ul>
  <hr />
</main>
