<a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#0">Data Science Courses</a>
  <button type="button" class="navbar-toggler">
    <span
      class="navbar-toggler-icon"
      data-toggle="collapse"
      data-target="#navbarMenu"
    ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item dropdown dropdown-sm">
        <a
          href="#"
          class="nav-link dropdown-toggle"
          id="blogDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Blog</a
        >
        <div class="dropdown-menu" aria-labelledby="blogDropdown">
          <a href="blog-overview-list" class="dropdown-item">List</a>
          <a href="blog-overview-grid" class="dropdown-item">Grid</a>
        </div>
      </li>
      <li class="nav-item dropdown dropdown-sm">
        <a
          href="#"
          class="nav-link dropdown-toggle"
          id="blogDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Archive</a
        >
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header">2017</h6>
          <a href="blog-overview-list" class="dropdown-item">List</a>
          <a href="blog-overview-grid" class="dropdown-item">Grid</a>
        </div>
      </li>
    </ul>
    <form class="form-inline">
      <input
        class="form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
