<article>
  <header>
    <a href="#0" class="badge badge-primary">Category</a>
    <h3>Multilnear regression</h3>
    <div><a href="#0">Author Name</a></div>
    <div>
      Posted on:
      <time datetime="2017-03-12T10:24">March 12, 2017 at 10:24</time>
      <div>
        <span class="badge badge-primary">13 likes</span>
        <span class="badge badge-primary">3 comments</span>
      </div>
      <div>
        <a href="#" class="badge badge-secondary">#tag</a>
        <a href="#" class="badge badge-secondary">#longtag</a>
        <a href="#" class="badge badge-secondary">#longertag</a>
        <a href="#" class="badge badge-secondary">#tag</a>
        <a href="#" class="badge badge-secondary">#tag</a>
      </div>
    </div>
  </header>
  <app-section></app-section>
  <!-- <app-comments></app-comments> -->
</article>
