<div class="container">
  <h2 class="text-center mb-4">Most read articles</h2>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-lg-0">
      <div class="card">
        <div class="card-body text-center">
          <img src="./assets/img/80x80.png" />
          <h3 class="card-title h5">
            <a href="article.html">Article Heading</a>
          </h3>
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            cupiditate ab similique maiores voluptatum illo ut mollitia quae
            quidem! Necessitatibus tempore praesentium nisi laborum iusto, quis
            id ipsam alias culpa!
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-lg-0">
      <div class="card">
        <div class="card-body text-center">
          <img src="./assets/img/80x80.png" />
          <h3 class="card-title h5">
            <a href="article.html">Article Heading</a>
          </h3>
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            cupiditate ab similique maiores voluptatum illo ut mollitia quae
            quidem! Necessitatibus tempore praesentium nisi laborum iusto, quis
            id ipsam alias culpa!
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-lg-0">
      <div class="card">
        <div class="card-body text-center">
          <img src="./assets/img/80x80.png" />
          <h3 class="card-title h5">
            <a href="article.html">Article Heading</a>
          </h3>
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            cupiditate ab similique maiores voluptatum illo ut mollitia quae
            quidem! Necessitatibus tempore praesentium nisi laborum iusto, quis
            id ipsam alias culpa!
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="./assets/img/80x80.png" />
          <h3 class="card-title h5">
            <a href="article.html">Article Heading</a>
          </h3>
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            cupiditate ab similique maiores voluptatum illo ut mollitia quae
            quidem! Necessitatibus tempore praesentium nisi laborum iusto, quis
            id ipsam alias culpa!
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="./assets/img/80x80.png" />
          <h3 class="card-title h5">
            <a href="article.html">Article Heading</a>
          </h3>
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            cupiditate ab similique maiores voluptatum illo ut mollitia quae
            quidem! Necessitatibus tempore praesentium nisi laborum iusto, quis
            id ipsam alias culpa!
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="./assets/img/80x80.png" />
          <h3 class="card-title h5">
            <a href="article.html">Article Heading</a>
          </h3>
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            cupiditate ab similique maiores voluptatum illo ut mollitia quae
            quidem! Necessitatibus tempore praesentium nisi laborum iusto, quis
            id ipsam alias culpa!
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="./assets/img/80x80.png" />
          <h3 class="card-title h5">
            <a href="article.html">Article Heading</a>
          </h3>
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            cupiditate ab similique maiores voluptatum illo ut mollitia quae
            quidem! Necessitatibus tempore praesentium nisi laborum iusto, quis
            id ipsam alias culpa!
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="./assets/img/80x80.png" />
          <h3 class="card-title h5">
            <a href="article.html">Article Heading</a>
          </h3>
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            cupiditate ab similique maiores voluptatum illo ut mollitia quae
            quidem! Necessitatibus tempore praesentium nisi laborum iusto, quis
            id ipsam alias culpa!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="my-5" />
