<div class="container">
  <h2 class="text-center mb-4">Categories</h2>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-5">
      <h3 class="h5"><a href="category.html">Category Heading</a></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quo sequi
        odit illum eos! Quis deleniti hic quibusdam ullam iste obcaecati
        doloremque sequi! Nemo, ipsum? Nam repudiandae vero dolorem
        consequuntur.
      </p>
    </div>
  </div>
</div>
