<section id="main">
  <figure class="figure">
    <img
      src="https://placehold.it/800x600"
      alt="figure image"
      class="figure-img img-fluid"
    />
    <figcaption flass="figure-caption">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet
      </p>
      <p>Photo by: Artist Name</p>
    </figcaption>
  </figure>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolorem
    repudiandae, inventore nam vel voluptates veniam debitis adipisci harum sit
    quo dicta deserunt optio repellendus minus? Fugiat totam minus voluptas!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia mollitia
    adipisci quod, praesentium veniam id. Qui quasi perspiciatis ipsam eos,
    assumenda quae doloremque dolores minus? Neque, ipsam. Porro, distinctio
    voluptatibus!
  </p>
  <blockquote class="blockquote">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, ad
      culpa, aut nihil veritatis minima velit.
    </p>
    <footer class="blockquote-footer">Firstname Lastname</footer>
  </blockquote>
  <h2>Subheading</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
    excepturi quo numquam tenetur. Delectus explicabo veritatis cupiditate dolor
    laboriosam. Architecto non eveniet accusantium est numquam hic doloremque
    delectus explicabo ullam!
  </p>
</section>
