<div class="container mt-3 mb-5">
  <form action="" class="mb-5">
    <div class="input-group input-group-lg">
      <input
        type="search"
        name="search"
        class="form-control"
        id="search"
        placeholder="How can we help you?"
        aria-label="Search for..."
      />
      <span class="input-group-append">
        <button type="submit" class="btn btn-primary">Search</button>
      </span>
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <app-articles></app-articles>
      <app-categories></app-categories>
    </div>
  </div>
</div>
