<section id="comments">
  <button type="button" class="btn btn-lg btn-primary">Like</button>
  <h2>Comments</h2>
  <div class="media">
    <img src="https://placehold.it/64x64" alt="Media object image" />
    <div class="media-body">
      <p>
        <a href="mailto:example@domain.com">Author Name</a> (Posted on:<time
          datetime="2017-03-12T10:24"
          >March 12, 2017 at 10:24 AM</time
        >)
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum unde eum
        nobis cumque vero dignissimos quod suscipit deserunt vitae sed
        voluptatem quaerat delectus libero, repellat non tenetur, nostrum harum
        earum!
      </p>
    </div>
    <hr />
  </div>
  <div class="media">
    <img src="https://placehold.it/64x64" alt="Media object image" />
    <div class="media-body">
      <p>
        <a href="mailto:example@domain.com">Author Name</a> (Posted on:<time
          datetime="2017-03-12T10:24"
          >March 12, 2017 at 10:24 AM</time
        >)
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum unde eum
        nobis cumque vero dignissimos quod suscipit deserunt vitae sed
        voluptatem quaerat delectus libero, repellat non tenetur, nostrum harum
        earum!
      </p>
    </div>

    <hr />
  </div>
  <div class="media">
    <img src="https://placehold.it/64x64" alt="Media object image" />
    <div class="media-body">
      <p>
        <a href="mailto:example@domain.com">Author Name</a> (Posted on:<time
          datetime="2017-03-12T10:24"
          >March 12, 2017 at 10:24 AM</time
        >)
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum unde eum
        nobis cumque vero dignissimos quod suscipit deserunt vitae sed
        voluptatem quaerat delectus libero, repellat non tenetur, nostrum harum
        earum!
      </p>
      <div class="media">
        <img src="https://placehold.it/64x64" alt="Media object image" />
        <div class="media-body">
          <p>
            <a href="mailto:example@domain.com">Author Name</a> (Posted on:<time
              datetime="2017-03-12T10:24"
              >March 12, 2017 at 10:24 AM</time
            >)
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum unde
            eum nobis cumque vero dignissimos quod suscipit deserunt vitae sed
            voluptatem quaerat delectus libero, repellat non tenetur, nostrum
            harum earum!
          </p>
        </div>

        <hr />
      </div>
    </div>

    <hr />
  </div>
  <!-- <app-comment-form></app-comment-form> -->
</section>
