<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <h1>
      <a href="#" class="navbar-brand">
        <img
          src="assets/img/data_science3.png"
          alt="Brand Logo"
          width="60"
          height="60"
          class="mr-2"
        />Data Science Courses</a
      >
    </h1>
    <div class="dropdown">
      <button
        type="button"
        class="btn btn-secondary btn-sm dropdown-toggle"
        id="dropdownLanguage"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        English
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownLanguage">
        <a href="#" class="dropdown-item">Language</a>
        <a href="#" class="dropdown-item">Language</a>
      </div>
    </div>
  </div>
</nav>
